body {
    background-color: rgb(211, 228, 60);
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
    text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
    font-size: 80px;
    text-align: center;

}

label {
    display: block;
    font-family: cursive;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;


}

button {
    padding: 10px;
    color: rgb(241, 31, 241);
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 20px;
    position: absolute;
    left: 50%;
    top: 75%
}

p.finalStory {
   position: absolute;
   left: 275px;
   width: 570px;
   top: 250px;
   font-size: 30px;
    
}

p.instructions {
    font-weight: bold;
    font-size: 24px;
    color: rgb(219, 95, 38);
    text-align: center;

}

noun_one {
    color: white;
}

